html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.pertama{
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    height: 40px;
}

.login{
    background-color: black;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.kedua{
    background-color: white;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.logo{
    width: 80px;
    height: 80px;
    margin-top: 5px;
    margin-left: 45px;
}

.fosan{
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headd{
    justify-content: space-around;
}
.head{
    background-color: white;
    border: none;
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-top: 27.5px;
    margin-left: 50px;
    cursor: pointer;
}

.ketiga{
    background-color: palevioletred;
    height: 400px;
}

.content1{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 600px;
    padding: 40px;
}

.box{
    width: 30%;
}

.atas{
    height: 40%;
    background-color: purple;
    margin: 10px;
}

.bawah{
    height: 60%;
    background-color: purple;
    margin: 10px;
}

.tengah{
    height: 100%;
    background-color: palevioletred;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nduwur{
    height: 60%;
    background-color: purple;
    margin: 10px;
}

.ngisor{
    height: 40%;
    background-color: purple;
    margin: 10px;
}

.content2{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.kotakkanan{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.kotakkiri{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.kotak{
    height: 300px;
    width: 300px;
    background-color: purple;
    margin: auto;
}

.kotak{
    margin: 10px;
}

.content3{
    height: 400px;
    background-color: purple;
}

.tampung{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.bla{
    height: 300px;
    width: 700px;
    margin: 10px;
    background-color: purple;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.footer{
    height: 400px;
    background-color: black;
}

.form1{
    background-color: whitesmoke;
    padding: 50px;
}
.booking{
    text-align: center;
    /* font-weight: bold; */
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 80px;
    justify-content: space-around;
}


p{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
